<div class="alert alert-primary" role="alert">
    There are no present runners at this time. Add one or more runners before attempting to assign workouts.
</div>
<br />
<a asp-action="Index" class="btn btn-primary">Ok</a>
