@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model List<CurrentPracticeWorkoutDataViewModel>

@if(Model != null && Model.Count() > 0){
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Attendance Count</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var practice in Model)
            {
                <tr>
                    <td>@practice.PracticeDateTime</td>
                    <td>@practice.PracticeLocation</td>
                    <td>@practice.TotalRunners</td>
                    <td><a asp-action="SelectRunnerFromPractice" asp-route-practiceId="@practice.PracticeId" class="btn btn-primary">Select Runner</a></td>
                </tr>
            }
        </tbody>
    </table>
}