@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model EditRunnerCurrentPracticeDataViewModel

@{
    bool workoutFound = false;
}
<label>@Model.RunnersName Current Practice Workout Data</label>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Workouts</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
    <tbody>
        <tr>
            <td>@Model.PracticeStartDateTime</td>
            <td>@Model.PracticeLocation</td>
            @if (Model.Workouts != null && Model.Workouts.Count() > 0)
            {
                <td>
                    @foreach (var workout in Model.Workouts)
                    {
                        @workout <br />
                    }
                </td>
                workoutFound = true;
            }
            else {  <td></td> }
            <td><a>Add workout to practice</a></td>
            @if (workoutFound)
            {
                <td><a>Delete workout from practice</a></td>
                <td><a>View/Edit data entered</a></td>
            }
            else{
                <td></td>
                <td></td>
            }
        </tr>
    </tbody>
</table>