@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model RunnerPracticeWorkoutDataViewModel

<div class="container mx-auto">
    <h3>Select a runner to view and/or edit their data.</h3>
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Runner</td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            @if (Model.RunnerUsers.Count() > 0)
            {
                @foreach (var runner in Model.RunnerUsers)
                {
                    <tr>
                        <td>@runner.FirstName @runner.LastName</td>
                        <td><a class="btn btn-primary" asp-route-runnerId="@runner.Id" asp-action="EditWorkoutData">Edit Workout Data</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
