@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model ViewDataEnteredViewModel

<div class="container mx-auto">
    <h3>Viewing Data for @Model.RunnerName </h3>
    <p style="font-weight: lighter;">@Model.PracticeStartDateTime</p>
    <p>Location: @Model.PracticeLocation</p>

    @if (Model.ViewDataEnteredViewModelHelpers != null && Model.ViewDataEnteredViewModelHelpers.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Workout</th>
                    <th scope="col">Distance (in miles)</th>
                    <th scope="col">Time (HH:MM:SS)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workoutData in Model.ViewDataEnteredViewModelHelpers)
                {
                    <tr>
                        <td>@workoutData?.WorkoutName</td>
                        <td>@workoutData?.Distance</td>
                        <td>@workoutData?.Hours : @workoutData?.Minutes : @workoutData?.Seconds</td>
                        <td><a asp-action="EditEnteredData" asp-route-workoutInformationId="@workoutData?.WorkoutId" class="btn btn-primary">Edit Data</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

