@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels.MasterAdminControllerViewModels
@model ChangeUserPasswordViewModel

<div class="container mx-auto">
    <div class="alert alert-primary" role="alert">
    Password must be between 6 and 50 characters
    </div>
    <h3>Change Password for @Model.UsersName</h3>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group">
            <span class="input-group-text">Enter new password</span>
            <input asp-for="NewPassword" class="form-control" required />
        </div>
        <br />
        <a class="btn btn-danger" asp-action="MasterAdminPanel">Cancel</a>
        <button type="submit" class="btn btn-primary">Save Password</button>
    </form>
</div>
