@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Evans High School</h1>
    <!--Image sourced from Evans HS official website (footer)-->
    <img src="https://evanshs.ccboe.net/pics/school_logo.png" />
    <h2> Cross Country Team Tracker</h2>
    
    <br /><br />
    <p>Select an option from the menu to continue.</p>
</div>
