@using FinalMockIdentityXCountry.Models.ViewModels.RunnerAreaViewModels
@model JoinPracticeViewModel

<div class="container mx-auto">
    <form method="post">
        <div>
            <h3>Are you sure you want to join this practice?</h3>
            <p>Start Date/Time: @Model.PracticeStartTimeAndDate </p>
               <p> Location: @Model.PracticeLocation</p>
        </div>
        <input type="hidden" asp-for="PracticeId" />
        <input type="hidden" asp-for="PracticeLocation" />
        <input type="hidden" asp-for="PracticeStartTimeAndDate" />
        <input type="hidden" asp-for="RunnerId" />
        <a class="btn btn-danger" asp-action="CurrentPractices">Cancel</a>
        <button type="submit" class="btn btn-primary">Join</button>
    </form>
</div>
