@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evans HS XC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalMockIdentityXCountry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalMockIdentityXCountry.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Evans Cross Country Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    <ul class="navbar-nav nav-tabs flex-grow-1">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Master Admin") || User.IsInRole("Coach"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Coach" asp-controller="Forum" asp-action="Home">Forums</a>
                            </li>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Data
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="Data" asp-action="SelectPracticeType">Practice Data</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="Data" asp-action="RunnerPracticeWorkoutData">Runner Data</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" >Statistics</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach">Data Exportation</a>
                                    </li>
                                </ul>
                            </div>
                            

                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="practiceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Practices
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="practiceDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="StartPractice" asp-action="StartNow">Start Practice Now</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="StartPractice" asp-action="ScheduleASession">Schedule Practice for Later</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="CurrentPractice" asp-action="CurrentPractices">Practices In Progress</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="PracticeHistory" asp-action="History">Practice History</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="workoutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Workouts
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="practiceDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="RecordWorkouts" asp-action="SelectPractice">Assign Workouts</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="Workouts" asp-action="CurrentWorkouts">Edit Workout Types</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Coach" asp-controller="AthleteHistory" asp-action="All">Athlete Workout History</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="calcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Calculators
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="calcDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="PaceCalculator" asp-action="JackDanielsVDOTCalculator">Jack Daniels VDOT</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="PaceCalculator" asp-action="OmniCalculator">Omni Calculator</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Runner"))
                        {
                            @*<li class="nav-item">
                                <a class="nav-link text-dark disabled" asp-area="Runner" asp-controller="Forum" asp-action="Home">Forums</a>
                            </li>*@
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="practiceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Practices
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="practiceDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="CurrentPractice" asp-action="CurrentPractices">My Practices</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="LogWorkoutData" asp-action="SelectAPractice">My Workouts</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="calcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Calculators
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="calcDropdown">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="PaceCalculator" asp-action="JackDanielsVDOTCalculator">Jack Daniels VDOT</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="Runner" asp-controller="PaceCalculator" asp-action="OmniCalculator">Omni Calculator</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - FinalMockIdentityXCountry - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
