@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model NewForumThreadViewModel

<div class="container mx-auto">
    <h2>Create a New Thread</h2>
    <br />
    <div class="form-control mx-auto">
        <form method="post">
            <div class="input-group">
                @*            <label asp-for="ThreadTitle" class="form-label">Title: </label>
                *@            <span class="input-group-text">Title:</span>
                <input asp-for="ThreadTitle" class="form-control" required />

            </div>
            <br />
            <div class="input-group">
                @*            <label asp-for="ThreadBody" class="form-label"></label>
                *@            <span class="input-group-text">Body:</span>
                <textarea asp-for="ThreadBody" class="form-control" required></textarea>
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" asp-area="Coach" asp-controller="Forum" asp-action="Home">Discard</a>
            </div>
        </form>
    </div>
</div>
