@model MessageBoard

<div class="container mx-auto">
    <h3>Delete this Thread?</h3>
    <form class="form" method="post">
        <div>
            <label class="form-label">@Model.MessageTitle</label>
            <br />
            <br />
            <textarea disabled="disabled">@Model.MessageBody</textarea>
            <br />
            <input hidden="hidden" asp-for="@Model.Id"/>
            <a class="btn btn-outline-danger" asp-action="Home">Cancel</a>
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </div>
    </form>
</div>