@model MessageBoardResponse

<div class="container mx-auto">
    <h3>Delete this comment?</h3>
    <p>@Model.Responder @Model.Response </p>
    <p style="font-weight: lighter;">@Model.ResponseDateTime</p>
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <a class="btn btn-outline-danger" asp-action="Home">Cancel</a>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </form>
</div>
