@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model DeleteThreadReplyViewModel

<div class="container mx-auto">
    <h3>Delete this comment?</h3>
    <form method="post">
        <div>
            <label>Reply: @Model.Reply</label>
        </div>
        <div>
            <label class="form-label">Reply by @Model.RunnerName on @Model.ReplyDateTime</label>
        </div>
        <br />
        <a asp-action="Home" class="btn btn-outline-danger">Cancel</a>
        <input type="hidden" asp-for="@Model.ReplyToMessageBoardId" />
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </form>
</div>

