@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model AllViewModel

<div class="container mx-auto">
    <h3>Athelete Workout History</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Runner</td>
                    <td scope="col">Past Practices</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.RunnerUsers.Count() > 0)
                {
                    @foreach (var runner in Model.RunnerUsers)
                    {
                        <tr>
                            <td>@runner.FirstName @runner.LastName</td>
                            <td><a class="btn btn-primary" asp-route-runnerId="@runner.Id" asp-action="SelectedAthlete">View</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    
</div>
