@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model SelectedAthleteViewModel

@if (Model != null)
{
    <div class="container mx-auto">
        <label class="form-label">Practice history for @Model.AthleteName</label><br />
        <form method="post" asp-action="ExportAthletePracticeHistoryToCSV" asp-controller="ExportData">
            <input type="hidden" asp-for="@Model.RunnerId" />
            <button type="submit" class="btn btn-primary">Export Data</button>
        </form>
        @if (Model.SelectedAthleteHelper != null && Model.SelectedAthleteHelper.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var attendance in Model.SelectedAthleteHelper)
                        {
                            <tr>
                                <td>@attendance.PracticeStartTimeAndDate</td>
                                <td>@attendance.PracticeLocation</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        }
    </div>
}

