@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model SelectedAthleteViewModel

<label class="form-label">@Model.AthleteName Practice history</label><br />

@if(Model.SelectedAthleteHelper.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"sc>Date</th>
                <th scope="col"sc>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model.SelectedAthleteHelper)
            {
                <tr>
                    <td>@attendance.PracticeStartTimeAndDate</td>
                    <td>@attendance.PracticeLocation</td>
                </tr>
            }
        </tbody>
    </table>
}