@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model SelectedAthleteViewModel

<div class="container mx-auto">
    <label class="form-label">Practice history for @Model.AthleteName</label><br />

    @if (Model.SelectedAthleteHelper.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" sc>Date</th>
                    <th scope="col" sc>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attendance in Model.SelectedAthleteHelper)
                {
                    <tr>
                        <td>@attendance.PracticeStartTimeAndDate</td>
                        <td>@attendance.PracticeLocation</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
