@model string
@if (TempData.ContainsKey("WorkoutExistsMessage"))
{
    <label class="form-label">@TempData.Peek("WorkoutExistsMessage")</label>
    <a class="btn btn-primary" asp-action="Index">OK</a>
}