@model IEnumerable<MessageBoard>

<a asp-action="NewAnnouncement" class="btn btn-primary">New Announcement</a>

<br /><br />
@foreach(var messageBoard in Model)
{
    <div>
        <h1>@messageBoard.MessageTitle</h1>
        <h2>@messageBoard.PublishedDateTime</h2>
        <br/>
        <h3>@messageBoard.MessageBody</h3>
    </div>
    <br />
    <br />
}