@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels
@model ChangeUserPasswordViewModel
<label class="form-label">User: @Model.UsersName</label>

<form method="post">
    <div>
        <label asp-for="NewPassword">Enter new password</label>
        <input asp-for="NewPassword"/>
    </div>
    <a>Cancel</a>
    <button type="submit">Save New Password</button>
</form>