@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels
@model EditRunnerNameViewModel

<label class="form-label">Current Name: @Model.OldName</label>

<form method="post">
    <div>
        <label asp-for="FirstName" class="form-label">Enter New First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div>
        <label asp-for="LastName" class="form-label">Enter New Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <input type="hidden" asp-for="@Model.RunnerId" />
    <a asp-action="CurrentRunnersList" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>