@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model List<HistoryViewModel>

<form class="form-control">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Total Runners</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model)
            {
                <tr>
                    <td>@attendance.PracticeDateTime</td>
                    <td>@attendance.PracticeLocation</td>
                    <td>@attendance.TotalRunners</td>
                    <td><a class="btn btn-primary">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>