@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.PracticeHistoryController
@model List<SelectedViewModel>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Present</th>
                <th scope="col">Location</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var runner in Model)
            {
                <tr>
                    <td>@runner.RunnersName</td>
                    <td>@runner.PracticeLocation</td>
                    <td>@runner.PracticeStartTime</td>
                    <td>@runner.PracticeEndTime</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <label class="form-label">Invalid data provided</label>
    <br />
    <a asp-action="Index">Ok</a>
}