@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model Practice

<form method="post">
    <label class="form-label">@Model.PracticeStartTimeAndDate @Model.PracticeLocation</label>
    <a class="btn btn-outline-danger">Cancel</a>
    <input type="hidden" asp-for="@Model.Id" />
    <button type="submit" class="btn btn-danger">Confirm Practice End</button>
</form>