@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels.CoachControllerViewModels
@model ChangeUserPasswordViewModel

<label class="form-label">User: @Model.UsersName</label>

<form method="post">
    <div>
        <label asp-for="NewPassword">Enter new password</label>
        <input asp-for="NewPassword" />
    </div>
    <a class="btn btn-danger" asp-action="MasterAdminPanel">Cancel</a>
    <button type="submit" class="btn btn-primary">Save New Password</button>
</form>