<label class="form-label">Select Calculator</label>
<br /><hr />

<a class="btn btn-primary" asp-action="JackDanielsVDOTCalculator">Jack Daniels VDOT</a>
<a class="btn btn-primary" asp-action="OmniCalculator">Omni Calculator</a>
<a class="btn btn-primary">Custom Calculator (not implemented)</a>