@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.StartPracticeController;
@model ScheduleASessionViewModel

<div class="container mx-auto">
    <div>
        <h3>Schedule a Practice Session for Later</h3>
    </div>
    <div class="form-control">
        <form method="post">
            <div>
                <label asp-for="PracticeLocation" class="form-label">Practice Location</label>
                <input asp-for="PracticeLocation" class="form-control" required/>
            </div>
            <br />

            <div>
                <label asp-for="PracticeStartTimeAndDate" class="form-label">Start Date and Time</label>
                <input asp-for="PracticeStartTimeAndDate" class="form-control" />
            </div>
            <br />

            <div>
                <label asp-for="PracticeEndTimeAndDate" class="form-label">End Date and Time</label>
                <input asp-for="PracticeEndTimeAndDate" class="form-control" />
            </div>
            <br />

            @if (Model.SelectedStartNowCheckBoxOptions != null && Model.SelectedStartNowCheckBoxOptions.Count > 0)
            {
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Runner</th>
                              <th scope="col">Present</th>
                          </tr>
                      </thead>
                      <tbody>
                          @for (int i = 0; i < Model.SelectedStartNowCheckBoxOptions.Count; i++)
                          {
                              <tr>
                                  <td>@Model.SelectedStartNowCheckBoxOptions[i].RunnersName</td>
                                  <td><input asp-for="@Model.SelectedStartNowCheckBoxOptions[i].IsSelected" type="checkbox" /></td>
                                  <input type="hidden" asp-for="@Model.SelectedStartNowCheckBoxOptions[i].RunnersId">
                              </tr>
                          }
                      </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-primary">Schedule Practice</button>
            }
        </form>
    </div>
</div>
